body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px 15px 10px 15px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.08);
  transition: ease-in-out 200ms;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 15px;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

th, td {
  margin: 0;
  padding: 15px;
}

td {
  background-color: rgba(255, 255, 255, 1);
}

.table-cell-one {
  width: 100%;
}

.page {
  background-color: white;
  padding: 50px;
  margin: 20px;
  width: calc(100% - 60px);
  border-radius: 12px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
}

.primary {
  background-color: #6a5acd;
}

.secondary {
  background-color: #ff4444;
}
